                        html,
                        body {
                            margin: 0px;
                            font-family: 'Open Sans', sans-serif;
                        }
                        
                        main {
                            width: 100%;
                            height: 100%;
                        }
                        
                        header {
                            background-image: url(../img/header.jpg);
                            width: 100%;
                            height: 500px;
                        }
                        
                        .title {
                            width: 100%;
                            height: 500px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                        }
                        
                        .title h1 {
                            font-size: 40px;
                            color: white;
                            letter-spacing: 2px;
                        }
                        
                        .title p {
                            text-align: center;
                            width: 700px;
                            color: white;
                        }
                        
                        .title .button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        
                        a {
                            text-decoration: none;
                            color: white;
                        }
                        
                        a .button {
                            background-color: #333333;
                            padding: 20px;
                            border: #666666 solid 1px;
                            width: 100px;
                            height: 20px;
                        }
                        
                        .first-sec {
                            width: 100%;
                            height: 300px;
                        }
                        
                        .first-sec h1 {
                            color: #333333;
                            font-size: 25px;
                            display: flex;
                            justify-content: center;
                        }
                        
                        .first-sec .text-bottom {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: center;
                        }
                        
                        .text-bottom p {
                            text-align: center;
                            width: 550px;
                        }
                        
                        .second-sec {
                            background-color: #333333;
                            width: 100%;
                            height: 500px;
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                        }
                        
                        .blocks {
                            margin: 0px 10px;
                            background-color: white;
                            width: 15%;
                            height: 450px;
                        }
                        
                        .blocks img {
                            width: 100%;
                            height: 35%;
                        }
                        
                        .blocks h1 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        
                        .blocks p {
                            display: flex;
                            align-items: center;
                            text-align: center;
                        }
                        
                        .thirth-sec {
                            width: 100%;
                            height: 250px;
                        }
                        
                        .thirth-sec h1 {
                            color: #333333;
                            font-size: 25px;
                            display: flex;
                            justify-content: center;
                        }
                        
                        .digital-needs {
                            width: 100%;
                            height: auto;
                            display: flex;
                            justify-content: center;
                        }
                        
                        .digital-needs p {
                            width: 80%;
                            text-align: center;
                        }
                        
                        .fourth-sec {
                            width: 100%;
                            height: 350px;
                            display: flex;
                            flex-wrap: wrap;
                        }
                        
                        .fourth-sec .left-block {
                            width: 50%;
                            height: 100%;
                            background-color: #2690d3;
                        }
                        
                        .fourth-sec .right-block {
                            width: 50%;
                            height: 100%;
                            background-color: #333333;
                        }
                        
                        .left-block h1 {
                            padding: 20px;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        
                        .left-block p {
                            padding: 20px;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                        }
                        
                        .left-block span {
                            padding: 20px;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                        }
                        
                        .right-block h1 {
                            padding: 20px;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        
                        .right-block p {
                            padding: 20px;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                        }
                        
                        footer {
                            width: 100%;
                            height: 50px;
                            background-color: black;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                        }
                        
                        footer .left {
                            color: white;
                        }
                        
                        footer .right {
                            color: white;
                        }
                        
                        footer .right a {
                            color: #2690d3;
                        }